# SQL

Total Revenue
```SQL
SELECT SUM(total_price) AS Total_Revenue FROM pizza_sales;
```

Average Order Value
```SQL
SELECT (SUM(total_price) / COUNT(DISTINCT order_id)) AS Avg_order_Value FROM pizza_sales
```

Total Pizzas Sold
```SQL
SELECT SUM(quantity) AS Total_pizza_sold FROM pizza_sales
```

Total Orders
```SQL
SELECT COUNT(DISTINCT order_id) AS Total_Orders FROM pizza_sales
```

Average Pizzas Per Order
```SQL
SELECT CAST(CAST(SUM(quantity) AS DECIMAL(10,2)) / 
CAST(COUNT(DISTINCT order_id) AS DECIMAL(10,2)) AS DECIMAL(10,2))
AS Avg_Pizzas_per_order
FROM pizza_sales

```

Since the date was in m/d/y/ format, I transform it into a date  format that mysql can recognize.
Also changed the tipe of de time column to time.
```SQL
UPDATE pizza_sales
SET order_date = STR_TO_DATE(order_date, '%m/%d/%y');

ALTER TABLE pizza_sales
MODIFY COLUMN order_time time;
```

Daily Trend For Total Orders
```SQL
SELECT DAYNAME(order_date) AS order_day, COUNT(DISTINCT order_id) AS total_orders 
FROM pizza_sales
GROUP BY DAYNAME(DW, order_date)

```

Monthly Trend For Orders
```SQL
select MONTHNAME(order_date) as Month_Name, COUNT(DISTINCT order_id) as Total_Orders
from pizza_sales
GROUP BY MONTHNAME(order_date)
```

Percentaje of Sales Per Pizza Category
```SQL
SELECT pizza_category, CAST(SUM(total_price) AS DECIMAL(10,2)) as total_revenue,
CAST(SUM(total_price) * 100 / (SELECT SUM(total_price) from pizza_sales) AS DECIMAL(10,2)) AS PCT
FROM pizza_sales
GROUP BY pizza_category

```

Percentaje of Sales by Pizza Size
```SQL
SELECT pizza_size, CAST(SUM(total_price) AS DECIMAL(10,2)) as total_revenue,
CAST(SUM(total_price) * 100 / (SELECT SUM(total_price) from pizza_sales) AS DECIMAL(10,2)) AS PCT
FROM pizza_sales
GROUP BY pizza_size
ORDER BY pizza_size

```

Total Pizza Sold by Pizza Category
```SQL
SELECT pizza_category, SUM(quantity) as Total_Quantity_Sold
FROM pizza_sales
WHERE MONTH(order_date) = 2
GROUP BY pizza_category
ORDER BY Total_Quantity_Sold DESC

```

Top 5 Pizzas by Revenue
```SQL
SELECT Top 5 pizza_name, SUM(total_price) AS Total_Revenue
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Revenue DESC
```

Bottom 5 Pizzas by Revenue
```SQL
SELECT Top 5 pizza_name, SUM(total_price) AS Total_Revenue
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Revenue ASC

```

Top 5 Pizzas by Quantity
```SQL
SELECT Top 5 pizza_name, SUM(quantity) AS Total_Pizza_Sold
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Pizza_Sold DESC
```

Bottom 5 Pizzas by Quantity
```SQL
SELECT TOP 5 pizza_name, SUM(quantity) AS Total_Pizza_Sold
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Pizza_Sold ASC

```

Top 5 Pizzas by Total Order
```SQL
SELECT Top 5 pizza_name, COUNT(DISTINCT order_id) AS Total_Orders
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Orders DESC

```

Bottom 5 Pizzas by Total Order
```SQL
SELECT Top 5 pizza_name, COUNT(DISTINCT order_id) AS Total_Orders
FROM pizza_sales
GROUP BY pizza_name
ORDER BY Total_Orders ASC

```